body{
    background-color: antiquewhite;
}
.a1{
    width: 200px;
    height: 20px;
    
}
.btn1{
    width: 150px;
    height: 20px;
    color: aliceblue;
    background-color: blue;
}
.btn2{
    width: 150px;
    height: 20px;
    color: aliceblue;
    background-color: rgb(18, 83, 5);
}
.btn3{
    width: 150px;
    height: 20px;
    color: aliceblue;
    background-color: rgb(134, 4, 15);
}